
<div *ngIf="model$ | async as model">
  <app-charts-header
    [description]="countryName"
    [infoBoxes]="infoBoxes">
  </app-charts-header>
  <div class="pagecontent">
    <div>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="model.lines"
        [legend]="false"
        [showGridLines]="booleanAttribute(true)"
        [showRefLabels]="true"
        [showRefLines]="true"
        [xAxis]="true"
        [yAxis]="true"
        [animations]="true"
        [gradient]="true"
        [xAxisLabel]="'Dates'"
        [yScaleMin]="model.yMin * 0.8"
        [yScaleMax]="model.yMax * 1.1"
        [showXAxisLabel]="true"
        (window:resize)="onResize($event)"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
  <div class="nav-buttons">
    <div class="back-link">
      <a routerLink="" routerLinkActive="active">Back</a>
    </div>
  </div>
</div>
